
<html>
   <head>
     <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
     <link rel="stylesheet" href="/lib/css/font-awesome.min.css">
     <link rel="stylesheet" href="/stylesheets/style.css">

     <script src="lib/js/jquery.js"></script>
     <script src="lib/js/bootstrap.js"></script>
   </head>
   <body>
        <div>
            <img src="<%=user.image%>">
            <%=user.name%>
            <%=user.email%>
        </div>
        <a href="/logout">Logout</a>
   </body>
</html>